.enterpriseAffairs-container {
  height: 100%;
  .enterpriseAffairs-body {
    height: 100%;
    background-color: #1c1c1c;
    overflow: hidden;
    .enterpriseAffairs-main {
      height: 100%;
      margin-top: 1rem;
      background-color: var(--color-body);
      overflow: hidden;
      border-radius: 2rem 2rem 0 0;
      .enterpriseAffairs-tabs-main {
        overflow: hidden;
        padding: 0 1.45rem;
        background-color: #fff;
        height: 6rem;
        .enterpriseAffairs-tabs {
          margin: 1rem 0 1rem;
          height: 3rem;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          button {
            margin-left: 1.45rem;
            width: 8rem;
            background-color: #fff;
            height: 4rem;
            border-radius: 1rem;
            border: solid 1px #e2e2e2;
            margin-bottom: 1rem;
            &:first-child {
              margin-left: 0;
            }
          }
          .active-button {
            background-color: #ae8e45;
            color: #fff;
          }
        }
      }
      .enterpriseAffairs-content-scroll {
        height: calc(100% - 7rem - 3rem);
        overflow-y: scroll;
        .enterpriseAffairs-content-details {
          margin-top: 2px;
          background: #fff;
          padding: 1rem 1.4rem;
          display: flex;
          flex-direction: column;
          font-size: 1.6rem;
          font-family: MicrosoftYaHei;
          font-weight: normal;
          font-stretch: normal;
          line-height: 2rem;
          letter-spacing: 0rem;
          color: #000000;
          margin-bottom: 2rem;
          p {
            margin-bottom: 3rem;
          }
          h4 {
            margin-bottom: 3rem;
            text-align: left;
            font-weight: 600;
          }
        }
      }
    }
  }
}
