.header-container {
  position: relative;
  z-index: 10;
  height: 4rem;
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  .hidden {
    opacity: 0;
  }
  .left {
    i {
      display: block;
      color: #f6f6f6;
      font-size: 3rem;
      width: 1rem;
      line-height: 4rem;
    }
  }
  .title {
    p {
      line-height: 4rem;
      font-size: 1.6rem;
      color: #fff;
    }
  }
  .right {
    i {
      color: #fff;
      font-size: 1.9rem;
    }
  }
}
