// H5
@media screen and (max-width: 960px) {
  .exchange {
    .tipBox {
      .item {
        box-sizing: border-box;
        width: 100%;
        height: 3.4rem;
        background-color: rgba(131, 139, 150, 0.12);
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.95rem;
        margin-bottom: 1.5rem;
        span {
          font-size: 1.2rem;
          color: #a4b6c8;
        }
        p {
          font-size: 1.2rem;
          color: #ffffff;
        }
      }
    }
    .formBox {
      width: 100%;
      .group {
        width: 100%;
        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          span {
            font-size: 1.4rem;
            color: rgba(21, 131, 214, 1);
          }
          p {
            font-size: 1.4rem;
            color: rgba(164, 182, 200, 1);
          }
        }
        .bottom {
          width: 100%;
          height: 4rem;
          background-color: rgba(36, 42, 51, 1);
          border-radius: 0.4rem;
          border: solid 1px rgba(65, 68, 73, 1);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 1.5rem;
          box-sizing: border-box;
          i {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1.1rem;
            &.iconGift {
              background: url('~@/assets/images/wallet/icon-bfg.png') no-repeat
                center;
              background-size: 100%;
            }
            &.iconUsdt {
              background: url('~@/assets/images/wallet/icon-usdt.png') no-repeat
                center;
              background-size: 100%;
            }
          }
          span {
            width: 6.4rem;
          }
          input {
            flex: 1;
            height: 1.8rem;
            outline: 0;
            border: 0;
            padding: 0 1rem;
            background: none;
            color: #fff;
            border-left: 1px solid #fff;
            font-size: 1.4rem;
          }
        }
      }
      .icon {
        width: 5.4rem;
        height: 5.4rem;
        display: block;
        background: url('~@/assets/images/wallet/icon-exchange.png') no-repeat
          center;
        background-size: 100%;
        margin: 5rem auto;
      }
      button {
        width: 100%;
        height: 4rem;
        background-image: linear-gradient(
            90deg,
            rgba(124, 252, 243, 1) 0%,
            rgba(73, 192, 229, 1) 42%,
            rgba(21, 131, 214, 1) 100%
          ),
          linear-gradient(rgba(68, 134, 145, 1), rgba(68, 134, 145, 1));
        border-radius: 0.4rem;
        outline: 0;
        border: 0;
        color: #fff;
        font-size: 1.4rem;
        margin-top: 2.8rem;
      }
      .link {
        text-align: center;
        margin-top: 1.4rem;
        font-size: 1.4rem;
        color: rgba(21, 131, 214, 1);
      }
    }
  }
}

// PC
@media screen and (min-width: 960px) {
  .exchange {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .tipBox {
      width: 411px;
      height: 455px;
      background: rgba(131, 139, 150, 0.06);
      border-radius: 8px;
      padding: 20px;
      box-sizing: border-box;
      .item {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        background-color: rgba(131, 139, 150, 0.12);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;
        &:first-child {
          margin-bottom: 30px;
        }
        span {
          font-size: 14px;
          color: #a4b6c8;
        }
        p {
          font-size: 14px;
          color: #ffffff;
        }
      }
      em {
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba(131, 139, 150, 0.12);
      }
    }
    .formBox {
      width: 400px;
      .group {
        width: 100%;
        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;
          span {
            font-size: 16px;
            color: rgba(21, 131, 214, 1);
          }
          p {
            font-size: 14px;
            color: rgba(164, 182, 200, 1);
          }
        }
        .bottom {
          width: 100%;
          height: 40px;
          background-color: rgba(36, 42, 51, 1);
          border-radius: 4px;
          border: solid 1px rgba(65, 68, 73, 1);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 10px;
          box-sizing: border-box;
          margin-bottom: 10px;
          i {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            &.iconGift {
              background: url('~@/assets/images/wallet/icon-bfg.png') no-repeat
                center;
              background-size: 100%;
            }
            &.iconUsdt {
              background: url('~@/assets/images/wallet/icon-usdt.png') no-repeat
                center;
              background-size: 100%;
            }
          }
          span {
            width: 83px;
          }
          input {
            flex: 1;
            height: 20px;
            outline: 0;
            border: 0;
            padding: 0 10px;
            background: none;
            color: #fff;
            border-left: 1px solid #fff;
            font-size: 14px;
          }
        }
        em {
          display: block;
          background-color: rgba(65, 68, 73, 1);
          width: 100%;
          height: 1px;
        }
      }
      .icon {
        width: 52px;
        height: 52px;
        display: block;
        background: url('~@/assets/images/wallet/icon-exchange.png') no-repeat
          center;
        background-size: 100%;
        margin: 50px auto;
      }
      button {
        width: 399px;
        height: 50px;
        background-image: linear-gradient(
            90deg,
            rgba(124, 252, 243, 1) 0%,
            rgba(73, 192, 229, 1) 42%,
            rgba(21, 131, 214, 1) 100%
          ),
          linear-gradient(rgba(68, 134, 145, 1), rgba(68, 134, 145, 1));
        border-radius: 4px;
        outline: 0;
        border: 0;
        color: #fff;
        font-size: 14px;
        margin-top: 56px;
      }
      .link {
        text-align: center;
        margin-top: 14px;
        font-size: 14px;
        color: rgba(21, 131, 214, 1);
        cursor: pointer;
      }
    }
  }
}
