.funding-details-container {
  height: 100%;
  background-color: var(--color-body);
  .date {
    overflow: hidden;
    background-color: var(--color-black);
    border-bottom: 1rem solid var(--color-body);
    .content {
      overflow: hidden;
      background-color: #fff;
      margin-top: 1rem;
      border-radius: 2rem 2rem 0 0;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 34.5rem;
        height: 2.8rem;
        background-color: #f0f0f0;
        border-radius: 1.4rem;
        margin: 0.9rem auto;
        p {
          text-align: center;
          width: 8.6rem;
          height: 2.8rem;
          line-height: 2.8rem;
          font-size: 1.4rem;
          border-radius: 1.4rem;
        }
        .active-p {
          background-color: #ae8e45;
          color: #fefefe;
        }
      }
    }
  }
  .main {
    height: calc(100% - 10.6rem);
    overflow-y: scroll;
    .card {
      padding: 0 1.45rem;
      height: 10rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0.5rem;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 2rem;
      }
      .top {
        p {
          font-size: 1.5rem;
        }
        span {
          color: #b0b0b0;
          font-size: 1.4rem;
        }
      }
      .middle {
        margin: 0.5rem 0;
        p {
          font-size: 1.2rem;
          color: #7c7c7c;
        }
        span {
          color: #c50606;
          font-size: 1.35rem;
        }
        .lost {
          color: #57b75e;
        }
        .tie {
          color: #7e7e7e;
        }
      }
      .bott {
        color: #7c7c7c;
        font-size: 1.2rem;
      }
      .orderId {
        color: #7c7c7c;
        font-size: 1rem;
      }
    }
  }
}
