// H5
@media screen and (max-width: 960px) {
  .container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
  }

  .showContainer {
    z-index: 31;
    opacity: 1;
  }

  .main {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 32;
    height: 100%;
    width: 30.5rem;
    background-color: #1b2026;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.46, 0.01, 1, 0.99);
    transform: translateX(100%);
    .scrollBody {
      overflow-y: scroll;
      height: calc(100% - 12.2rem);
    }
    .sign-out {
      margin: 2.5rem auto;
      width: 28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 100%;
        height: 4rem;
        background-image: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
          linear-gradient(#3881a8, #3881a8);
        border-radius: 0.6rem;
        border: 0;
        font-size: 1.4rem;
        color: #ffffff;
        &:active {
          width: 99%;
          background-image: linear-gradient(90deg, #1bc0d9 0%, #178de8 100%),
            linear-gradient(#4094c2, #4399c7);
        }
      }
    }
  }

  .showMain {
    transform: translateX(0);
  }
}

// PC
@media screen and (min-width: 960px) {
  .container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
  }

  .showContainer {
    z-index: 31;
    opacity: 1;
  }

  .main {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 32;
    height: 100%;
    width: 30.5rem;
    background-color: #1b2026;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.46, 0.01, 1, 0.99);
    transform: translateX(100%);
    .scrollBody {
      overflow-y: scroll;
      height: calc(100% - 12.2rem);
    }
    .sign-out {
      margin: 2.5rem auto;
      width: 28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 100%;
        height: 4rem;
        background-image: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
          linear-gradient(#3881a8, #3881a8);
        border-radius: 0.6rem;
        border: 0;
        font-size: 1.4rem;
        color: #ffffff;
        &:active {
          width: 99%;
          background-image: linear-gradient(90deg, #1bc0d9 0%, #178de8 100%),
            linear-gradient(#4094c2, #4399c7);
        }
      }
    }
  }

  .showMain {
    transform: translateX(0);
  }
}
