// H5
@media screen and (max-width: 960px) {
  .container {
    background-color: #171921;
    color: #b4c8db;
    margin-top: 2rem;
    box-sizing: border-box;

    .main {
      box-sizing: border-box;
      padding: 1rem;

      .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(130, 149, 186, 0.15);
        padding: 2rem 0;

        img {
          height: 3.25rem;
          width: 3.25rem;
          margin-right: 1rem;
        }

        p {
          font-size: 1rem;
          line-height: 1.8543rem;
        }
      }

      .items {
        border-bottom: 1px solid rgba(130, 149, 186, 0.15);
        padding: 2rem 0;

        &:last-child {
          border-bottom: 0;
        }

        .title {
          p {
            color: #fff;
            font-size: 1.5rem;
          }

          b {
            display: block;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            width: 2.5rem;
            height: 0.625rem;
            background-color: #ffffff;
            border-radius: 0.313rem;
          }
        }

        span {
          margin-right: 3rem;
          font-size: 1.2rem;
        }

        .myLogo {
          img {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 1.8rem;
          }
        }

        .partnerLogo {
          overflow-x: scroll;
          display: flex;

          img {
            height: 2.3rem;
            margin-right: 1.2rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .copyright {
        color: #9cb0c3;
        text-align: center;

        p {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        span {
          font-size: 1.25rem;
          margin-right: 0;
        }
      }
    }
  }
}

// PC
@media screen and (min-width: 960px) {
  .container {
    background-color: #171921;
    color: #b4c8db;
    margin-top: 2rem;
    box-sizing: border-box;
    .main {
      box-sizing: border-box;
      padding: 1rem;
      .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(130, 149, 186, 0.15);
        padding: 2rem 0;
        img {
          height: 50px;
          width: 50px;
          margin-right: 1rem;
        }
        p {
          font-size: 14px;
          line-height: 1.8543rem;
        }
      }
      .blocks {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        .items {
          border-bottom: 1px solid rgba(130, 149, 186, 0.15);
          padding: 20px 0;
          width: 25%;
          &:last-child {
            // border-bottom: 0;
          }
          .title {
            p {
              color: #fff;
              font-size: 1.5rem;
            }
            b {
              display: block;
              margin-top: 0.5rem;
              margin-bottom: 2rem;
              width: 2.5rem;
              height: 0.625rem;
              background-color: #ffffff;
              border-radius: 0.313rem;
            }
          }
          .contactus {
            display: flex;
            flex-direction: column;
            span:last-child {
              margin: 5px 0;
            }
          }
          span {
            margin-right: 3rem;
            font-size: 1.2rem;
          }
          .pointer {
            cursor: pointer;
          }
          .myLogo {
            img {
              width: 2.8rem;
              height: 2.8rem;
              margin-right: 1.8rem;
              cursor: pointer;
            }
          }
          .partnerLogo {
            display: flex;
            img {
              height: 2.3rem;
              margin-right: 1.2rem;

              &:last-child {
                margin-right: 0;
                display: none;
              }
            }
          }
        }
      }

      .copyright {
        color: #9cb0c3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        p {
          display: inline;
          font-size: 16px;
          margin-bottom: 10px;
        }
        span {
          font-size: 14px;
          margin-right: 0;
        }
      }
    }
  }
}
