.home-container {
  background: var(--color-black1);
  display: flex;
  flex-direction: column;
  height: 100%;
  .bgBlack {
    padding-bottom: 3rem;
  }
  .home-containert {
    height: 13.5rem;
  }
  .contents {
    padding-bottom: 1rem;
    flex: 1 1;
    overflow: hidden;
    position: relative;
    height: 100%;
    z-index: 1;
    border-radius: 1.6rem 1.6rem 0 0;
    background-color: #fff;
  }
  .contentsc {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 5rem;
  }
  .contentsc2 {
    height: 100%;
    overflow-y: hidden;
  }
  .empty {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 20rem;
      height: auto;
      margin-top: 3rem;
      margin-bottom: 5rem;
    }
  }

  :global(.navb) {
    border: 1px solid transparent;
    // border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    height: 5.6rem;
    justify-content: space-evenly;
    padding: 0 1.2rem;
    img {
      display: block;
      height: 2.3rem;
      margin: 0 auto;
    }
    span {
      color: #000;
    }
  }
  :global(.adm-jumbo-tabs-content) {
    padding: 0;
    height: calc(100% - 8rem);
  }
  :global(.tab-content) {
    height: 100%;
  }
  .gameBox {
    flex: 1 1;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1.3rem 1.4rem 0;
    height: 100%;
    li {
      border-radius: 1.3rem;
      float: left;
      height: 13.3rem;
      margin-bottom: 1.6rem;
      margin-right: 1.5rem;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      width: 10.5rem;
      align-items: center;
      background-color: #f4f4f5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .XyeyB {
        align-items: center;
        background-color: rgba(70, 137, 204, 0.18);
        border-radius: 50%;
        display: flex;
        height: 1.7rem;
        justify-content: center;
        position: absolute;
        right: 0.6rem;
        z-index: 2;
        top: 0.6rem;
        width: 1.7rem;
        img {
          height: 1.2rem;
          width: 1.2rem;
          position: relative;
          // top: 0.4rem;
        }
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      .imgf {
        height: 8.2rem;
        margin-bottom: 1rem;
        width: 8.2rem;
      }
      .imgs {
        height: 100%;
        width: 100%;
      }
    }
  }
  :global(.adm-jumbo-tabs-tab-wrapper) {
    flex: none;
  }
  :global(.adm-jumbo-tabs-tab-description) {
    padding: 0;
  }
  :global(.adm-jumbo-tabs-tab-active) {
    :global(.adm-jumbo-tabs-tab-description) {
      background-color: transparent;
      :global(.navb) {
        background-color: #ae8d45;
        border-radius: 10px;
        background-image: url(./images/game_check_in.f7f60be5.png);
        background-size: 100% 100%;
        span {
          color: #fff;
        }
      }
    }
  }
  .content {
    background-color: #ffffff;
    border-radius: 2rem;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .contenta {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0.2rem 1rem 0 rgba(80, 80, 80, 0.35);
    height: 3.2rem;
    line-height: 3rem;
    position: absolute;
    right: 1.15rem;
    text-align: center;
    top: 2.3rem;
    width: 3.2rem;
    z-index: 9;
    img {
      box-sizing: border-box;
      border: 0;
      vertical-align: middle;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  .headerNavBox {
    width: 100%;
    background-color: var(--color-black);
    padding-top: 1.4rem;
    box-sizing: content-box;
    .headerNav {
      scroll-behavior: smooth;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto 0;
      padding-bottom: 0.45rem;
      overflow-x: scroll;
      box-sizing: border-box;
      .headerNavItem {
        box-sizing: border-box;
        flex-shrink: 1;
        button {
          box-sizing: border-box;
          width: 7.5rem;
          display: flex;
          background: transparent;
          flex-direction: column;
          border: none;
          justify-content: center;
          align-items: center;
          margin-bottom: 0.15rem;

          span {
            position: relative;
            top: -0.3rem;
            color: #767676;
          }
          img {
            width: 4.75rem;
            height: auto;
          }
        }
        .active-button {
          span {
            color: #f8e4b5;
            font-weight: 700;
          }
        }
      }
    }
  }
}
