// H5
@media screen and (max-width: 960px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .main {
    box-sizing: border-box;
    padding-top: 1rem;
    height: 100%;
    margin-top: 5rem;
    background-color: #2d3138;
    // overflow-y: scroll;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .home_top {
      .top_entry {
        padding: 0 1rem;
        .customSkeleton {
          --width: 35rem;
          --height: 17rem;
          --border-radius: 8px;
          margin-left: 1rem;
        }
        .content {
          padding: 0 1rem;
          height: 17rem;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 48px;
          user-select: none;
        }
        .loadingAd {
          height: 18rem;
          padding: 0 1rem;
        }
        .ad {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          height: 10rem;
          div {
            box-sizing: border-box;
            border-radius: 1rem;
            width: 48%;
            height: 9rem;
            margin: 1rem 0;
            img {
              border-radius: 1rem;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .loadingTabs {
        height: 18rem;
        padding: 0 2rem;
      }
      .tabsBox {
        padding: 0 1rem;
        user-select: none;
        .tabs {
          border-radius: 1rem;
          margin-top: 1rem;
          box-sizing: border-box;
          overflow-x: scroll;
          background-color: #15161a;
          display: flex;
          align-items: center;
          .div0 {
            padding: 1rem;
            display: flex;
          }
          .div1 {
            box-sizing: border-box;
            border-radius: 1rem;
            margin-right: 1rem;
            width: 9rem;
            height: 8rem;
            background-color: #2d3138;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:last-child {
              margin-right: 0;
            }
            .img {
              width: 3rem;
              height: 3rem;
              background-size: 3rem 3rem;
            }
            p {
              margin-top: 1rem;
              // font-family: MicrosoftYaHei, serif;
              font-size: 1.4rem;
              color: #ebeff5;
            }
          }
        }
      }
    }
  }
  .world-cup-height {
    margin-top: calc(5rem + 12rem);
  }
}

// PC
@media screen and (min-width: 960px) {
  .main {
    max-width: 1430px;
    margin: 100px auto 0 auto;
    .home_top {
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: content-box;
      margin: 0 auto;
      padding-top: 24px;
      .top_entry {
        display: flex;
        justify-content: space-between;
        .customSkeleton {
          --widt: 100%;
          --height: 200px;
          --border-radius: 8px;
        }
        .swiper_wrapper {
          border-radius: 1rem;
          width: 70%;
          height: 32rem;
          margin-right: 40px;
          .adm-swiper-horizontal .adm-swiper-indicator {
            left: 50px;
          }
          .content {
            height: 100%;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            user-select: none;
          }
        }
        .ad {
          overflow: hidden;
          flex: 1;
          div {
            box-sizing: border-box;
            border-radius: 10px;
            height: 153px;
            margin-bottom: 10px;
            img {
              border-radius: 10px;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .tabsBox {
        margin-top: 20px;
        user-select: none;
        .tabs {
          border-radius: 1rem;
          box-sizing: border-box;
          height: 13rem;
          background-color: #15161a;
          display: flex;
          align-items: center;
          .div0 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 2.5rem;
          }
          .div1 {
            box-sizing: border-box;
            border-radius: 1rem;
            width: 6rem;
            height: 9rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .background {
              background-color: #2d3138;
              width: 6rem;
              height: 6rem;
              border-radius: 100%;
              padding: 1rem;
              box-sizing: border-box;
              .img {
                width: 4rem;
                height: 4rem;
                background-size: 4rem 4rem;
                cursor: pointer;
              }
              .img_1:hover {
                background-image: url('~@/assets/images/index/icon-金刚-足球-选中-2@3x.png') !important;
              }
              .img_2:hover {
                background-image: url('~@/assets/images/index/icon-金刚-篮球-选中@3x.png') !important;
              }
              .img_3:hover {
                background-image: url('~@/assets/images/index/icon-金刚-网球-选中@3x.png') !important;
              }
              .img_4:hover {
                background-image: url('~@/assets/images/index/icon-金刚-电子体育-选中@3x.png') !important;
              }
              .img_5:hover {
                background-image: url('~@/assets/images/index/icon-金刚-羽毛球-选中@3x.png') !important;
              }
              .img_6:hover {
                background-image: url('~@/assets/images/index/icon-金刚-橄榄球-选中@3x.png') !important;
              }
              .img_7:hover {
                background-image: url('~@/assets/images/index/icon-金刚-乒乓球-选中@3x.png') !important;
              }
              .img_8:hover {
                background-image: url('~@/assets/images/index/icon-金刚-排球-选中@3x.png') !important;
              }
              .img_9:hover {
                background-image: url('~@/assets/images/index/icon-金刚-斯诺克-选中@3x.png') !important;
              }
              .img_10:hover {
                background-image: url('~@/assets/images/index/icon-金刚-更多-选中@3x.png') !important;
              }
            }
            p {
              // font-family: MicrosoftYaHei, serif;
              font-size: 14px;
              color: #ebeff5;
            }
          }
        }
      }
    }
  }
  .world-cup-height {
    margin-top: calc(10rem + 233px);
  }
}
