// H5
@media screen and (max-width: 960px) {
  .withDrwaWrapper {
    height: 54rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

    .leftText {
      width: 31rem;
    }

    .text {
      color: #fbbc05;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// PC
@media screen and (min-width: 960px) {
  .withDrwaWrapper {
    height: 458px;
    display: flex;

    .text {
      color: #fbbc05;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
