@media screen and (max-width: 960px) {
  .customerbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-size: cover;
    background: url('~@/assets/images/customerservice/bg-h5@2x.png') no-repeat
      fixed center;
  }
  .logo {
    display: block;
    margin: 30vw auto 10vw;
    width: 49.867vw;
    height: 11.333vw;
  }
  .tele {
    display: block;
    width: 68vw;
    height: 14.933vw;
    margin: 3.867vw auto 0;
  }
}

@media screen and (min-width: 960px) {
  .customerbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('~@/assets/images/customerservice/bg-pc@2x.png') no-repeat
      fixed center;
  }
  .logo {
    display: block;
    margin: 70px auto 40px;
    width: 374px;
    height: 85px;
  }
  .tele {
    display: block;
    width: 510px;
    height: 112px;
    margin: 30px auto 0;
  }
}
