.customerService {
  margin-top: 2rem;
  color: #83878d;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  .orange {
    color: #fbbc05;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .blue {
    color: #1583d6;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}
