.header-container {
  position: relative;
  padding: 0 1.45rem;
  height: 4rem;
  background-color: var(--color-black);
  color: #828077;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    display: flex;
    align-items: center;
    p {
      &:first-child {
        margin-right: 3.3rem;
      }
    }
    .active-p {
      font-size: 1.6rem;
      color: #fff;
      font-weight: bold;
    }
  }
  img {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 1.45rem;
  }
}
