// H5
@media screen and (max-width: 960px) {
  .box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .list {
      margin-left: 1.2rem;
      margin-bottom: 1.2rem;
      width: 13.4rem;
      height: 8.5rem;
      background-color: #2d3138;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 1.7rem;
        height: 2rem;
      }
      p {
        font-size: 1rem;
        margin-top: 1.1rem;
      }
      .color1 {
        color: #18c518;
      }
      .color2 {
        color: #fac943;
      }
      .color3 {
        color: #40cbe1;
      }
      .color4 {
        color: #fa43d1;
      }
      .color5 {
        color: #f58719;
      }
      .color6 {
        color: #fff;
      }
    }
  }
}

// PC
@media screen and (min-width: 960px) {
  .box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .list {
      cursor: pointer;
      margin-left: 1.2rem;
      margin-bottom: 1.2rem;
      width: 120px;
      height: 80px;
      background-color: #2d3138;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        font-size: 14px;
        margin-top: 1.1rem;
      }
      .color1 {
        color: #18c518;
      }
      .color2 {
        color: #fac943;
      }
      .color3 {
        color: #40cbe1;
      }
      .color4 {
        color: #fa43d1;
      }
      .color5 {
        color: #f58719;
      }
    }
  }
}
