// H5
@media screen and (max-width: 960px) {
  .roomTop {
    position: relative;
  }

  .roomTopWrapper {
    height: 3rem;
    border-radius: 1rem;
    margin: 5px auto;
    color: #87898e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    .left {
      flex: 1;

      .num {
        font-weight: 700;
        color: #99aabc;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
      padding: 2px 2px;
      border-radius: 2px;
      background-color: #323a45;
      width: 9.6rem;
      color: #99aabc;
      font-weight: 500;

      img {
        margin-left: 1rem;
        width: 0.65rem;
        height: 0.5rem;
      }
    }

    .rightBox {
      display: flex;
      gap: 5px;
    }

    .flex {
      flex: 1;
    }
  }

  .panel {
    position: absolute;
    top: 10.3rem;
    right: -4.8rem;
    width: 10rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #121417;
    color: #98a8b9;
    z-index: 99;

    .item {
      cursor: pointer;

      &:hover {
        background-color: #21262d;
      }
    }

    .active {
      background-color: #21262d;
    }
  }

  .gamePanel {
    right: 5.8rem;
    width: 10rem;
    max-height: 20rem;
    overflow-y: auto;
  }
}

// PC
@media screen and (min-width: 960px) {
  .roomTop {
    position: relative;
  }

  .roomTopWrapper {
    height: 31px;
    border-radius: 10px;
    margin: 5px auto;
    color: #87898e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .left,
    .right {
      margin: 0 1rem;
    }

    .left {
      .num {
        font-weight: 700;
        color: #99aabc;
      }
    }

    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px 5px;
      border-radius: 2px;
      background-color: #323a45;
      width: 111px;
      justify-content: space-around;
      color: #99aabc;

      img {
        margin-left: 1rem;
        width: 9px;
        height: 6px;
      }
    }

    .rightBox {
      flex: 1;
      display: flex;
      gap: 5px;
    }
  }

  .panel {
    position: absolute;
    top: 87px;
    right: 28px;
    width: 123px;
    line-height: 31px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #121417;
    color: #98a8b9;
    z-index: 99;

    .item {
      cursor: pointer;

      &:hover {
        background-color: #21262d;
      }
    }

    .active {
      background-color: #21262d;
    }
  }

  .gamePanel {
    right: 173px;
    width: 123px;
    max-height: 311px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #21262d;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: #5d6061;
    }
  }
}
