// H5
@media screen and (max-width: 960px) {
  .home {
    position: relative;
    height: 12rem;
    background: url('../../images/worldCupImg/倒计时-顶部-bg.png') no-repeat
      center;
    background-size: 100% 12rem;
    padding: 1rem;
    box-sizing: border-box;
    .title {
      display: flex;
      justify-content: space-between;
      height: 4rem;
      img {
        height: 6rem;
      }
      .pcTopLeftBall {
        display: none;
      }
      p {
        font-size: 2rem;
        color: #fff;
      }
      .pcTopRightBall {
        display: none;
      }
      i {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: url('../../images/worldCupImg/倒计时-img-顶部-关闭2.png')
          no-repeat center;
        background-size: 2rem 2rem;
      }
    }
    .timesBox {
      width: 31rem;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      color: #fff;
      p {
        opacity: 0.5;
        text-align: center;
      }
      .colon {
        display: block;
        width: 3rem;
        height: 5rem;
        background: url('../../images/worldCupImg/分隔点.png') no-repeat center;
        background-size: 3rem 5rem;
      }
      .items {
        height: 5rem;
        .number {
          display: flex;
          b {
            transition: 0.3s;
          }
          .num0 {
            background: url('../../images/worldCupImg/0.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num1 {
            background: url('../../images/worldCupImg/1.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num2 {
            background: url('../../images/worldCupImg/2.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num3 {
            background: url('../../images/worldCupImg/3.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num4 {
            background: url('../../images/worldCupImg/4.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num5 {
            background: url('../../images/worldCupImg/5.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num6 {
            background: url('../../images/worldCupImg/6.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num7 {
            background: url('../../images/worldCupImg/7.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num8 {
            background: url('../../images/worldCupImg/8.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          .num9 {
            background: url('../../images/worldCupImg/9.png') no-repeat center;
            background-size: 3rem 5rem;
          }
          b {
            display: block;
            width: 3rem;
            height: 5rem;
          }
        }
      }
      .pcBottomLeftBall {
        display: none;
      }
      .pcBottomRightBall {
        display: none;
      }
    }
    .ball {
      height: 4.5rem;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

// PC
@media screen and (min-width: 960px) {
  .home {
    position: relative;
    height: 233px;
    width: calc(100% + 50px);
    margin-left: -50px;
    background: url('../../images/worldCupImg/倒计时-顶部-bg2.png') no-repeat
      center;
    background-size: 100% 233px;
    padding: 20px;
    box-sizing: border-box;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 67px;
      img {
        display: none;
      }
      .pcTopLeftBall {
        display: inline-block;
        width: 100px;
        height: 100px;
      }
      p {
        font-size: 30px;
        color: #fff;
      }
      .pcTopRightBall {
        display: inline-block;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 70px;
      }
      i {
        cursor: pointer;
        align-self: flex-start;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: url('../../images/worldCupImg/倒计时-img-顶部-关闭2.png')
          no-repeat center;
        background-size: 30px 30px;
      }
    }
    .timesBox {
      position: relative;
      top: 22px;
      width: 760px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      color: #fff;
      p {
        opacity: 0.5;
        text-align: center;
      }
      .colon {
        display: block;
        margin: 0 50px;
        width: 50px;
        height: 100px;
        background: url('../../images/worldCupImg/分隔点.png') no-repeat center;
        background-size: 50px 100px;
      }
      .items {
        .number {
          display: flex;
          b {
            transition: 0.3s;
          }
          .num0 {
            background: url('../../images/worldCupImg/0.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num1 {
            background: url('../../images/worldCupImg/1.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num2 {
            background: url('../../images/worldCupImg/2.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num3 {
            background: url('../../images/worldCupImg/3.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num4 {
            background: url('../../images/worldCupImg/4.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num5 {
            background: url('../../images/worldCupImg/5.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num6 {
            background: url('../../images/worldCupImg/6.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num7 {
            background: url('../../images/worldCupImg/7.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num8 {
            background: url('../../images/worldCupImg/8.png') no-repeat center;
            background-size: 50px 100px;
          }
          .num9 {
            background: url('../../images/worldCupImg/9.png') no-repeat center;
            background-size: 50px 100px;
          }
          b {
            display: block;
            width: 50px;
            height: 100px;
          }
        }
      }
      .pcBottomLeftBall {
        position: absolute;
        bottom: -38px;
        left: -219px;
        width: 80px;
        height: 80px;
      }
      .pcBottomRightBall {
        position: absolute;
        width: 80px;
        height: 80px;
        bottom: -10px;
        right: -219px;
      }
    }
    .ball {
      display: none;
    }
  }
}
