// H5
@media screen and (max-width: 960px) {
  .box {
    background-color: #121417ff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    z-index: -10;
    transition: all 0.2s ease-in;
    .items {
      color: #a4b6c8;
      font-size: 1.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 0 2rem;
      img {
        width: 1.4rem;
        height: 1.4rem;
        align-self: center;
      }
    }
  }
  .show {
    opacity: 1;
    z-index: 32;
  }
  .checked {
    background-color: #21262d;
  }
}

// PC
@media screen and (min-width: 960px) {
  .box {
    background-color: #121417ff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    z-index: -10;
    transition: all 0.2s ease-in;
    .items {
      color: #a4b6c8;
      font-size: 1.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 0 2rem;
      img {
        width: 1.4rem;
        height: 1.4rem;
        align-self: center;
      }
    }
  }
  .show {
    opacity: 1;
    z-index: 32;
  }
  .checked {
    background-color: #21262d;
  }
}
