// H5
@media screen and (max-width: 960px) {
  .container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
  }

  .showContainer {
    z-index: 31;
    opacity: 1;
  }

  .main {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 32;
    height: 100%;
    width: 30.25rem;
    background-color: #1b2026;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.46, 0.01, 1, 0.99);
    transform: translateX(-101%);

    .scrollBody {
      overflow-y: scroll;
      height: calc(100% - 11.2rem);
    }
  }

  .showMain {
    transform: translateX(0);
  }
}

// PC
@media screen and (min-width: 960px) {
  .container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
  }

  .showContainer {
    z-index: 31;
    opacity: 1;
  }

  .main {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 32;
    height: 100%;
    width: 280px;
    background-color: #1b2026;
    color: #fff;
    transition: all 0.2s cubic-bezier(0.46, 0.01, 1, 0.99);
    transform: translateX(-100%);
    .scrollBody {
      overflow-y: scroll;
      height: calc(100% - 11.2rem);
    }
  }

  .showMain {
    transform: translateX(0);
  }
}
