* {
  margin: 0;
  padding: 0;
  user-select: none;
}
/* 字体 */
@font-face {
  font-family: 'DIN-Regular';
  src: url('./assets/font/DIN-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
/* 兼容低版本IOS input无法选中的问题 */
input {
  -webkit-user-select: auto;
}
body {
  position: relative;
  font-family: 'DIN-Regular', sans-serif;
  -ms-overflow-style: none;
}

html,
body,
.this-app-router-container,
#root {
  background-color: var(--color-body);
  font-family: Regular, sans-serif;
  color: #000;
  height: 100%;
  overflow: hidden;
}
.this-app-router-container {
  transition: 0.2s;
}

li {
  list-style-type: none;
}
button{
  color: #000;
  outline: 0;
}
::-webkit-scrollbar {
  width: 0 !important;
}
