.gameSearch-container {
  background-color: #f7f7f7;
  height: 100%;
  .main {
    height: calc(100% - 4rem);
    padding: 0;
    .top {
      height: 5rem;
      display: flex;
      align-items: center;
      background-color: #fff;
      justify-content: space-between;
      padding: 0 1.5rem;
      .right {
        height: 3.4rem;
        background-color: #f7f7f7;
        border-radius: 1rem;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        img {
          width: 2rem;
          height: auto;
          margin-left: 0.5rem;
        }
        input {
          font-family: PingFangSC-Regular;
          font-size: 1.6rem;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0rem;
          color: #b0b0b0;
          line-height: 3.4rem;
          border: none;
          width: 100%;
          margin-left: 1rem;
          outline: none;
          background: #f7f7f7;
          &::placeholder {
            color: #b0b0b0;
          }
        }
        div {
          width: 4rem;
          height: 2rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
          line-height: 2rem;
          margin-right: 0.5rem;
          text-align: center;
        }
      }
    }
    .bot {
      height: calc(100% - 4rem);
      padding: 1rem 1.5rem 1rem 1.5rem;
      .subTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-family: PingFangSC-Medium;
          font-size: 1.6rem;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0rem;
          color: #999999;
        }
        img {
          width: auto;
          height: 2rem;
        }
      }
      .subBot {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        div {
          padding: 1rem 0.8rem;
          background: #fff;
          margin-left: 1rem;
          width: max-content;
        }
      }
      .gameBox {
        flex: 1 1;
        overflow: hidden;
        overflow-y: scroll;
        li {
          border-radius: 1.3rem;
          float: left;
          height: 13.3rem;
          margin-bottom: 1.6rem;
          margin-right: 1.5rem;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          width: 10.5rem;
          align-items: center;
          background-color: var(--color-body);
          display: flex;
          flex-direction: column;
          justify-content: center;
          .XyeyB {
            align-items: center;
            background-color: rgba(70, 137, 204, 0.18);
            border-radius: 50%;
            display: flex;
            height: 1.7rem;
            z-index: 2;
            justify-content: center;
            position: absolute;
            right: 0.6rem;
            top: 0.6rem;
            width: 1.7rem;
            img {
              height: 1.2rem;
              width: 1.2rem;
              position: relative;
              top: 0.4rem;
            }
          }
          &:nth-child(3n) {
            margin-right: 0;
          }
          img {
            height: 8.2rem;
            margin-bottom: 1rem;
            width: 8.2rem;
          }
        }
      }
    }
  }
}
