@media screen and (max-width: 960px) {
  body {
    background: #14171c;
  }

  .tipbottom {
    color: #848d99;
    font-size: 3vw;
    span {
      color: #f1b507;
    }
  }
  .name {
    color: #a4b6c8;
    font-size: 4.27vw;
    line-height: 4vw;
    margin-bottom: 3.87vw;
    margin-top: 5.73vw;
  }
  .inputbox {
    :global(.adm-input .adm-input-element) {
      font-size: 3.73vw;
      color: #fff;
    }
    height: 10.67vw;
    background-color: #242a33;
    border-radius: 0.53vw;
    border: solid 0.13vw #414449;
    display: flex;
    margin-bottom: 2.67vw;
    align-items: center;
    padding: 0 4vw;
    .rightIcon3 {
      background-image: url('~@/assets/images/login/icon-注册-眼睛-开.png');
      width: 5vw;
      height: 4vw;
      right: 14vw;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 0;
    }
    .rightIcon4 {
      background-image: url('~@/assets/images/login/icon-注册-眼睛-关.png');
      width: 5vw;
      height: 4vw;
      right: 14vw;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 0;
    }
  }

  .submitBtn {
    width: 84vw;
    height: 11vw;
    line-height: 11vw;
    background: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
      linear-gradient(#3881a8, #3881a8);
    position: fixed;
    bottom: 4.67vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
    color: #ffffff;
    text-align: center;
  }
  .submitBtnpassword {
    margin-top: 5.3vw;
    width: 89.33vw;
    height: 10.8vw;
    line-height: 10.8vw;
    background: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
      linear-gradient(#3881a8, #3881a8);
    font-size: 3.73vw;
    color: #ffffff;
    text-align: center;
  }
}
@media screen and (min-width: 960px) {
  .tipbottom {
    color: #848d99;
    font-size: 16px;
    span {
      color: #f1b507;
    }
  }
  .name {
    color: #a4b6c8;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .inputbox {
    :global(.adm-input .adm-input-element) {
      font-size: 14px;
      color: #fff;
    }
    width: 360px;
    height: 40px;
    background-color: #242a33;
    border-radius: 4px;
    border: solid 1px #414449;
    display: flex;
    margin-bottom: 22px;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    .rightIcon3 {
      background-image: url('~@/assets/images/login/icon-注册-眼睛-开.png');
      width: 18px;
      height: 12px;
      right: 275px;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 0;
    }
    .rightIcon4 {
      background-image: url('~@/assets/images/login/icon-注册-眼睛-关.png');
      width: 18px;
      height: 12px;
      right: 275px;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .submitBtnpassword {
    width: 360px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
      linear-gradient(#3881a8, #3881a8);
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-left: 180px;
    margin-top: 30px;
  }
}
