@media screen and (max-width: 960px) {
  .toptitle2,
  .toptitle1 {
    display: none;
  }
  .nomore {
    width: 45vw;
    font-size: 3.73vw;
    color: #fac943;
    margin: 30px auto 0;
    line-height: 2;
  }
  .headtitle {
    font-size: 4.267vw;
    color: #a4b6c8;
    margin-bottom: 4vw;
    margin-top: 6vw;
  }
  .headtip {
    font-size: 3.73vw;
    color: rgb(164, 182, 200, 0.5);
    padding-bottom: 4vw;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(130, 149, 186, 0.15);
  }
  .headtitle2 {
    font-size: 4.267vw;
    color: #a4b6c8;
    margin-bottom: 4vw;
    margin-top: 4vw;
  }
  .tips {
    height: 3.73vw;
    color: #a4b6c8;
  }

  .toptitle {
    font-size: 4.27vw;
    color: #a4b6c8;
    margin-top: 6vw;
    line-height: 1.7;
  }
  .bottomtips {
    font-size: 3.73vw;
    color: #a4b6c8;
    margin-top: 4vw;
    span {
      color: #2191d9;
    }
  }
  .dumi-default-search {
    display: flex;
    width: 100%;
    margin-top: 5.3vw;
    &.mobile-search {
      background-image: linear-gradient(#15191f, #15191f),
        linear-gradient(#000000, #000000);
    }
    .outline-input-before {
      width: 24vw;
      height: 10.67vw;
      background-color: #242a33;
      border-radius: 0.53vw;
      border: solid 0.13vw #414449;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2.67vw;

      .user-action-login-phoneCode {
        display: flex;
        background-color: #242a33;
        padding-left: 2vw;
        box-sizing: border-box;
        .phoneCode-number {
          line-height: 5.3vw;
          color: #ffffff;
        }
        .phoneCode-img {
          background: url('~@/assets/images/login/icon-消息中心-展开.png')
            center no-repeat;
          background-size: 100% 100%;
          width: 4.8vw;
          height: 2.67vw;
          margin-top: 1vw;
          margin-left: 1vw;
          transition: 0.3s;
          &.upTransfrom {
            transform: rotate(180deg);
          }
        }
      }
    }
    .dumi-default-search-input {
      width: 62.67vw;
      height: 10.67vw;
      background-color: #242a33;
      border-radius: 0.53vw;
      border: solid 1px #414449;
      color: #a4b6c8;
      padding-left: 15px;
      box-sizing: border-box;
      &:focus {
        border-color: #1677ff;
      }
      &::placeholder {
        color: #a4b6c8;
      }
    }
    input::placeholder {
      color: #a4b6c8;
    }
    input:focus {
      border-color: #1677ff;
    }
    .mobile-input {
      // margin-left: 10vw;
    }
    .leftIcon1 {
      background-image: url('~@/assets/images/login/icon-登录-帐名.png');
      width: 2rem;
      height: 2rem;
      left: 5.5rem;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 1rem;
    }
    .rightIcon1 {
      background-image: url('~@/assets/images/login/icon-绑定-清除.png');
      width: 5.33vw;
      height: 5.33vw;
      right: 1vw;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 3vw;
    }
    .verfCode {
      color: #fff;
      width: 26.67vw;
      height: 10.67vw;
      line-height: 10.67vw;
      background-color: #1e8dd8;
      border-radius: 0.53vw;
      text-align: center;
      margin-left: 1vw;
    }
  }
  .dumi-default-search-input {
    width: 62.67vw;
    height: 10.67vw;
    background-color: #242a33;
    border-radius: 0.53vw;
    border: solid 1px #414449;
    color: #a4b6c8;
    padding-left: 15px;
    box-sizing: border-box;
    &:focus {
      border-color: #1677ff;
    }
    &::placeholder {
      color: #a4b6c8;
    }
  }
  input::placeholder {
    color: #a4b6c8;
  }
  input:focus {
    border-color: #1677ff;
  }
  .download {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vw;
    margin-top: 6vw;
    div {
      width: 32.67vw;
      height: 10.67vw;
      background-color: #1e8dd8;
      border-radius: 0.53vw;
      line-height: 10.67vw;
      color: #ffffff;
      text-align: center;
      font-size: 3.73vw;
    }
  }
  .QRcode {
    width: 100%;
    height: 26.67vw;
    background-color: rgb(131, 139, 150, 0.06);
    border-radius: 1.07vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    box-sizing: border-box;
    margin-top: 4.67vw;
    .QRcodeleft {
      width: 20.53vw;
      height: 20.27vw;
      margin-right: 3vw;
    }
    .QRcoderight {
      flex: 1;
      .topcoy {
        width: 58vw;
        height: 8.53vw;
        line-height: 8.53vw;
        border-radius: 1vw;
        background: rgb(131, 139, 150, 0.12);
        color: #ffffff;
        font-size: 3vw;
        text-align: center;
        .copy {
          width: 2.93vw;
          height: 3.47vw;
          margin-left: 2vw;
        }
      }
      .copytip {
        margin-top: 2vw;
        font-size: 3vw;
        color: #ef0a0a;
      }
    }
  }
  .inputbox {
    :global(.adm-input .adm-input-element) {
      font-size: 3.73vw;
      color: #fff;
      height: 10vw;
    }
    width: 100%;
    height: 10.67vw;
    line-height: 10.67vw;
    border-radius: 1vw;
    border: solid 0.13vw #414449;
    padding: 0 4vw;
    box-sizing: border-box;
    background: #242a33;
    margin-top: 5.33vw;
  }

  .successbox {
    display: block;
    width: 29vw;
    height: 20vw;
    margin: 30vw auto;
  }
  .bind {
    width: 100%;
    display: inline-block;
    color: #79818c;
    font-size: 4vw;
    text-align: center;
  }

  .submitBtn {
    margin-top: 5.3vw;
    width: 100%;
    height: 11vw;
    line-height: 11vw;
    background: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
      linear-gradient(#3881a8, #3881a8);
    // position: fixed;
    // bottom: 4.67vw;
    // left: 50%;
    // transform: translateX(-50%);
    font-size: 5vw;
    color: #ffffff;
    text-align: center;
  }
  .bottom {
    position: fixed;
    bottom: 20vw;
    left: 50%;
    transform: translateX(-50%);
    color: #1583d6;
    font-size: 3vw;
  }
  // .securitybox {
  //   height: 100vw;
  //   overflow-y: scroll;
  // }
}
@media screen and (min-width: 960px) {
  .nomore {
    font-size: 14px;
    color: #fac943;
    margin-top: 30px;
    text-align: center;
  }
  .headtitle {
    font-size: 16px;
    color: #a4b6c8;
    margin-bottom: 20px;
  }
  .headtip {
    font-size: 14px;
    line-height: 26px;
    color: rgb(164, 182, 200, 0.5);
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(130, 149, 186, 0.15);
  }
  .headtitle2 {
    font-size: 16px;
    color: #a4b6c8;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .tips {
    height: 14px;
    color: #a4b6c8;
  }
  .dumi-default-search {
    display: flex;
    width: 100%;
    margin-top: 20px;
    &.mobile-search {
      background-image: linear-gradient(#15191f, #15191f),
        linear-gradient(#000000, #000000);
    }
    .outline-input-before {
      position: absolute;
      height: 56px;
      width: 70px;
      .user-action-login-phoneCode {
        display: flex;
        width: 90px;
        height: 40px;
        background-color: #242a33;
        border-radius: 4px;
        border: solid 1px #414449;
        padding-left: 15px;
        box-sizing: border-box;
        .phoneCode-number {
          line-height: 40px;
          color: #ffffff;
          margin-left: 15px;
        }
        .phoneCode-img {
          background-image: url('~@/assets/images/login/icon-消息中心-展开.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 10px;
          width: 18px;
          position: absolute;
          top: 17px;
          right: -8px;
          transition: 0.3s;
          &.upTransfrom {
            transform: rotate(180deg);
          }
        }
      }
    }
    .dumi-default-search-input {
      width: 250px;
      height: 40px;
      background-color: #242a33;
      border-radius: 4px;
      border: solid 1px #414449;
      color: #a4b6c8;
      padding-left: 15px;
      box-sizing: border-box;
      &:focus {
        border-color: #1677ff;
      }
      &::placeholder {
        color: #a4b6c8;
      }
    }
    input::placeholder {
      color: #a4b6c8;
    }
    input:focus {
      border-color: #1677ff;
    }
    .mobile-input {
      margin-left: 105px;
    }
    .leftIcon1 {
      background-image: url('~@/assets/images/login/icon-登录-帐名.png');
      width: 2rem;
      height: 2rem;
      left: 5.5rem;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 1rem;
    }
    .rightIcon1 {
      background-image: url('~@/assets/images/login/icon-绑定-清除.png');
      width: 2rem;
      height: 2rem;
      right: 17px;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 1rem;
    }
    .verfCode {
      color: #fff;
      right: 4px;
      width: 100px;
      height: 40px;
      line-height: 40px;
      background-color: #1e8dd8;
      border-radius: 4px;
      text-align: center;
      margin-left: 10px;
    }
  }
  .bottomtips {
    font-size: 14px;
    color: #a4b6c8;
    margin-top: 20px;
    span {
      color: #2191d9;
    }
  }
  .securitybox {
    width: 500px;
    position: relative;
    height: 510px;
    overflow-y: scroll;
    padding-bottom: 20px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(121, 236, 255, 0.4);
      border-radius: 4px;
    }
  }
  .toptitle1 {
    font-size: 16px;
    color: #a4b6c8;
  }
  .toptitle2 {
    font-size: 14px;
    color: rgba(233, 233, 233, 0.5);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.15);
    margin-top: 19px;
    line-height: 1.6;
  }
  .toptitle {
    font-size: 16px;
    color: #a4b6c8;
    margin-top: 20px;
    line-height: 1.5;
  }
  .download {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    div {
      width: 125px;
      height: 40px;
      background-color: #1e8dd8;
      border-radius: 4px;
      line-height: 40px;
      color: #ffffff;
      text-align: center;
      font-size: 14px;
    }
  }
  .QRcode {
    width: 412px;
    height: 101px;
    background-color: rgb(131, 139, 150, 0.06);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 20px;
    .QRcodeleft {
      width: 77px;
      height: 76px;
      margin-right: 12px;
    }
    .QRcoderight {
      flex: 1;
      .topcoy {
        width: 296px;
        height: 33px;
        line-height: 33px;
        border-radius: 4px;
        background: rgb(131, 139, 150, 0.12);
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        .copy {
          width: 11px;
          height: 13px;
          margin-left: 12px;
        }
      }
      .copytip {
        margin-top: 10px;
        font-size: 14px;
        color: #ef0a0a;
      }
    }
  }
  .inputbox {
    :global(.adm-input .adm-input-element) {
      font-size: 14px;
      color: #fff;
      height: 40px;
    }
    width: 360px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #414449;
    padding: 0 15px;
    box-sizing: border-box;
    background: #242a33;
    margin-top: 20px;
  }

  .successbox {
    display: block;
    width: 112px;
    height: 76px;
    margin: 100px 127px 20px;
  }
  .bind {
    width: 100%;
    display: inline-block;
    color: #79818c;
    font-size: 14px;
    margin-left: 147px;
  }

  .submitBtn {
    width: 360px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(90deg, #18aac0 0%, #1583d6 100%),
      linear-gradient(#3881a8, #3881a8);
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
    border-radius: 4px;
  }
  .bottom {
    position: fixed;
    bottom: 20vw;
    left: 50%;
    transform: translateX(-50%);
    color: #1583d6;
    font-size: 3vw;
  }
}
