@media screen and (max-width: 960px) {
  .activitybox {
    margin-top: 4.27vw;
    // :global(.adm-tabs-content) {
    //   height: auto;
    // }
    :global(.adm-tabs-header) {
      border-bottom: transparent;
      color: #ebeff5;
    }
    :global(.adm-tabs-tab-active) {
      background-color: #1583d6;
      padding-left: 2.4vw;
      padding-right: 2.4vw;
      box-sizing: border-box;
      border-top-left-radius: 1vw;
      border-top-right-radius: 1vw;
      color: #fff !important;
      font-size: 3.73vw;
    }
    :global(.adm-tabs-header) {
      border-bottom: solid 1px #414449;
    }
    :global(.adm-tabs-tab) {
      color: #a4b6c8;
      font-size: 3.73vw;
    }
    :global(.adm-tabs-tab-line) {
      background: transparent !important;
    }
    :global(.adm-checkbox .adm-checkbox-icon) {
      border-radius: 0 !important;
      width: 4.27vw;
      height: 4.27vw;
    }
  }
  .rightbox {
    display: none;
  }
  .inputbox {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 21.33vw;
      height: 8.27vw;
      background-color: #323a45;
      border-radius: 1vw;
      color: #ffffff;
      font-size: 3.73vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 3vw;
      position: relative;
      .icon {
        width: 3vw;
        height: 2vw;
        &.upTransfrom {
          transform: rotate(180deg);
        }
      }

      .mask {
        width: 21.33vw;
        height: 17vw;
        position: absolute;
        left: 0;
        bottom: -18vw;
        background: #262629;
        z-index: 33;
        border-radius: 1vw;
        text-align: center;
        line-height: 7vw;
        font-size: 4vw;
        padding: 5px;
        box-sizing: border-box;
      }
    }
    .checkListContainer {
      flex: 1;
      color: #52585f;
      font-size: 3.2vw;
      :global(.adm-checkbox-content) {
        font-size: 3.2vw;
      }
      :global(.adm-checkbox .adm-checkbox-icon) {
        width: 4.27vw;
        height: 4.27vw;
      }
    }
  }
  .mainbox {
    margin-top: 3vw;
    width: 100%;
    height: 138vw;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(121, 236, 255, 0.4);
      border-radius: 4px;
    }
    li {
      margin-top: 4.2vw;
      position: relative;
      .title {
        font-size: 3.73vw;
        color: #ffffff;
        font-weight: 400;
      }
      .redbox {
        width: 3.2vw;
        height: 3.2vw;
        background-color: #f40f0f;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9999999999999;
      }
      .title,
      .time1 {
        font-size: 3.2vw;
        color: #a4b6c8;
        // border-bottom: 1px solid rgba(190, 190, 190, 0.15);
        line-height: 7vw;
        display: none;
      }
      .content {
        color: #79828c;
        font-size: 3vw;
        line-height: 2.56vw;
        margin-top: 2.4vw;
        position: relative;
        .time {
          font-size: 3.2vw;
          color: #a4b6c8;
          // border-bottom: 1px solid rgba(190, 190, 190, 0.15);
          line-height: 7vw;
        }
        .content1 {
          font-size: 3.73vw;
        }
        :global(.adm-ellipsis a) {
          position: absolute;
          right: 0;
          top: -9vw;
        }
        :global(.adm-list-item) {
          background-color: #16202f;
          border-bottom: 1px solid rgba(190, 190, 190, 0.15) !important;
        }
        :global(.adm-list-default .adm-list-body) {
          border: none;
        }
        :global(.adm-list-item-content) {
          border: none;
          color: #a4b6c8;
        }
        :global(.adm-list-body) {
          background: none !important;
        }
      }
    }
  }
  .messageCount {
    position: absolute;
    right: 10vw;
    top: 0;
    width: 3.2vw;
    height: 3.2vw;
    background-color: #f40f0f;
    border-radius: 50%;
    z-index: 999999999999;
  }
}

@media screen and (min-width: 960px) {
  .activitybox {
    margin-top: 32px;
    :global(.adm-tabs-content) {
      height: auto;
      padding: 0 !important;
    }
    :global(.adm-tabs-header) {
      border-bottom: transparent;
      color: #ebeff5;
    }
    :global(.adm-tabs-tab-active) {
      background-color: #1583d6;
      padding-left: 18px;
      padding-right: 18px;
      box-sizing: border-box;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff !important;
    }

    :global(.adm-tabs-tab) {
      color: #a4b6c8;
      font-size: 18px;
    }
    :global(.adm-tabs-tab-list) {
      width: 30% !important;
    }
    :global(.adm-tabs-header) {
      border-bottom: solid 1px #414449;
    }
    :global(.adm-tabs-tab) {
      color: #a4b6c8;
      font-size: 14px;
    }
    :global(.adm-tabs-tab-line) {
      background: transparent !important;
    }
  }
  .inputbox {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 5px;
    .left {
      width: 97px;
      height: 31px;
      background-color: #323a45;
      border-radius: 4px;
      color: #ffffff;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 21px;
      position: relative;
      .icon {
        width: 9px;
        height: 5px;
        &.upTransfrom {
          transform: rotate(180deg);
        }
      }

      .mask {
        width: 120px;
        height: 80px;
        position: absolute;
        left: 0;
        bottom: -80px;
        background: #262629;
        z-index: 33;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        padding: 5px;
        box-sizing: border-box;
      }
    }
    .checkListContainer {
      flex: 1;
      color: #52585f;
      font-size: 18px;
      :global(.adm-checkbox-content) {
        font-size: 12px;
      }
      :global(.adm-checkbox .adm-checkbox-icon) {
        border-radius: 0 !important;
        width: 16px;
        height: 16px;
      }
    }
  }
  .bigbox {
    display: flex;
    .mainbox {
      width: 300px;
      overflow-y: auto;
      border-right: 1px solid rgba(190, 190, 190, 0.15);
      height: 500px;
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(121, 236, 255, 0.4);
        border-radius: 4px;
      }
      li {
        box-sizing: border-box;
        border-bottom: 1px solid rgb(70, 75, 82, 0.5);
        position: relative;
        padding: 20px 0 20px 20px;
        cursor: pointer;
        &.actived {
          background: rgb(166, 177, 191, 0.15);
        }
        .redbox {
          width: 12px;
          height: 12px;
          background-color: #f40f0f;
          border-radius: 50%;
          position: absolute;
          right: 10px;
          top: 20px;
          z-index: 999999999;
        }
        .title {
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
          line-height: 17px;
          color: #a4b6c8;
          font-weight: 400;
        }
        .time1 {
          font-size: 12px;
          color: #52585f;
          line-height: 24px;
        }

        .content {
          display: none;
        }
      }
    }
    .rightbox {
      flex: 1;
      padding: 20px 30px;
      box-sizing: border-box;
      height: 505px;
      overflow-y: scroll;
      width: 600px;
      word-wrap: break-word;
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(121, 236, 255, 0.4);
        border-radius: 4px;
      }
      .title {
        font-size: 16px;
        color: #a4b6c8;
      }
      .time2 {
        margin-top: 10px;
        font-size: 14px;
        color: #52585f;
        line-height: 24px;
      }
      .contentbox {
        margin-top: 30px;
        font-size: 14px;
        color: #a4b6c8;
      }
    }
  }
  .messageCount {
    position: absolute;
    left: 240px;
    top: 2px;
    width: 12px;
    height: 12px;
    background-color: #f40f0f;
    border-radius: 50%;
  }
}
