.bet-container {
  height: 100%;
  background-color: var(--color-body);
  .top {
    height: 7.5rem;
    background-color: #fff;
    padding: 0 1.45rem;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem 0;
      .left,
      .right {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: bold;
        p {
          margin-right: 0.8rem;
        }
        img {
          width: 1.45rem;
          height: 1.45rem;
        }
      }
    }
    .des {
      font-size: 1.1rem;
      color: #8a8a8a;
      display: flex;
      align-items: center;
      p:first-child {
        margin-right: 1rem;
      }
    }
  }
  .main {
    height: calc(100% - 4rem - 7.5rem);
    overflow-y: scroll;
    margin-top: 0.45rem;
    position: relative;
    .items {
      height: 6.2rem;
      margin-top: 0.5rem;
      background-color: #fff;
      border-radius: 1rem;
      padding: 0 1.45rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .mainTop {
        margin-bottom: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
          display: flex;
          align-items: center;
          width: 14rem;

          p {
            font-size: 1.4rem;
            font-weight: bold;
          }

          img {
            width: 2.05rem;
            height: 2.05rem;
            margin-right: 0.6rem;
            border-radius: 100%;
          }
        }

        .orderNum {
          font-size: 1.6rem;
          font-weight: bold;
          width: 3rem;
          text-align: center;
        }
        span {
          font-size: 1.6rem;
          font-weight: bold;
          color: #d80d23;
          width: 9rem;
          text-align: center;
        }
        .lost {
          color: #57b75e;
        }
        .tie {
          color: #7e7e7e;
        }
      }

      .mainBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: #999;
        padding-left: 2.5rem;

        p {
          width: 10rem;

          &:first-child {
            width: 14rem;
          }
        }

        div {
          display: flex;
          align-items: center;
          width: 6.45rem;
          justify-content: space-between;

          img {
            width: 0.8rem;
            height: 1.4rem;
          }
        }
      }
    }
  }
}
