// H5
.container {
  iframe {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 0;
    background-color: #fff;
  }
  .zoom {
    position: fixed;
    top: 4rem;
    width: 8rem;
    height: 2rem;
    z-index: 9;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      margin-left: 2rem;
      display: flex;
      width: 33.3%;
      align-items: center;
      img {
        &:first-child {
          width: 3rem;
          height: 2rem;
        }
        &:last-child {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    h4 {
      font-size: 2rem;
      width: 33.3%;
    }
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
    }
  }
}
