.virtualCurrencyWithdrawal-container {
  height: 100%;
  .virtualCurrencyWithdrawal-body {
    height: 100%;
    background-color: #1c1c1c;
    overflow: hidden;
    .virtualCurrencyWithdrawal-main {
      height: 100%;
      margin-top: 1rem;
      background-color: var(--color-body);;
      overflow: hidden;
      border-radius: 2rem 2rem 0 0;
      .virtualCurrencyWithdrawal-content-scroll {
        height: calc(100% - 4rem);
        overflow-y: scroll;
        img {
          width: 100%;
        }
        .lastName {
          margin-top: 0;
          margin-bottom: 0;
        }
        h3 {
          margin-top: 3rem;
          margin-left: 2rem;
          display: flex;
          margin-bottom: 2rem;
          &:nth-last-child(1) {
            margin-top: 0;
            margin-bottom: 0;
          }
          div {
            margin-right: 0.3rem;
            width: 2rem;
            height: 2rem;
            background-image: linear-gradient(99deg, #f70568 0%, #ff7a51 77%), linear-gradient(#ffffff, #ffffff);
            background-blend-mode: normal, normal;
            border-radius: 50%;
            text-align: center;
            line-height: 2rem;
            color: #fff;
          }
          p {
            font-family: PingFangSC-Regular, sans-serif;
            font-size: 1.4rem;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0;
            color: #000000;
          }
        }
      }
    }
  }
}
