// H5
@media screen and (max-width: 960px) {
  .card {
    display: none;
  }
}

// PC
@media screen and (min-width: 960px) {
  .card {
    box-sizing: border-box;
    .title {
      margin-top: 2rem;
      background: url('~@/assets/images/index/bg-标签@2x.png') no-repeat left;
      background-size: 15.563rem 4.725rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1rem;
      height: 4.625rem;
      .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        img {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
        h2 {
          // font-family: MicrosoftYaHei, serif;
          font-weight: normal;
          font-size: 20px;
          color: #fac943;
        }
      }
      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.2rem;
        p {
          margin-right: 2.6rem;
          width: 8rem;
          cursor: pointer;
          text-align: center;
          color: #b4c8db;
          span {
            font-size: 14px;
            line-height: 3.2rem;
          }
        }
        .background-p {
          transition: 0.5s;
          height: 3.2rem;
          background-color: #191d23;
          border-radius: 0.4rem;
          color: #fac943;
        }
      }
    }
    .container {
      background-color: #1a1d26;
      border-radius: 0 1.875rem 1.875rem 1.875rem;
      box-sizing: border-box;
      padding-top: 2rem;
      padding-bottom: 3.3rem;
      min-height: 51.9rem;
      header {
        width: 100%;
        div {
          display: flex;
          justify-content: space-between;
          padding: 0 4rem;
          h3 {
            color: #b4c8db;
            font-size: 16px;
            width: calc(100% / 8);
          }
        }
      }
      main {
        padding: 0 1rem;
        .box {
          margin-top: 1rem;
          .content {
            padding: 0 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 4rem;
            &:nth-of-type(odd) {
              background-color: #2d3138;
              border-radius: 0.4rem;
            }
            p {
              width: calc(100% / 8);
              color: #a4b6c8;
              opacity: 0.5;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
