@media screen and (max-width: 960px) {
  .tab {
    display: none;
  }
  .page {
    display: none;
  }
  .activitybox {
    padding-top: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
      width: 95vw;
      height: 45vw;

      background-color: #171b21;
      margin-bottom: 3vw;
      border-radius: 1.87vw;

      img {
        width: 95vw;
        height: 38vw;
        border-radius: 1.87vw;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3vw;
        .activityleft {
          flex: 4;
          font-size: 4vw;
          color: #ffffff;
          height: 5vw;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .activityright {
          flex: 6;
          font-size: 3vw;
          color: #858ca6;
          text-align: right;
        }
      }
    }
  }
}
@media screen and (min-width: 960px) {
  .h5page {
    display: none;
  }
  .activity {
    width: 1400px;
    height: 969px;
    border-radius: 0 16px 30px 30px;
    // background-color: #171b21;
    margin: 125px auto 0;
    overflow: hidden;
    text-align: center;
    .tab {
      width: 177px;
      display: flex;
      align-items: center;
      color: #159dd0;
      font-size: 16px;
      height: 38px;
      line-height: 38px;
      padding-left: 8px;
      box-sizing: border-box;
      background: url('~@/assets/images/index/bg-标签@2x.png') no-repeat center;
      background-size: 100% 100%;
      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
    .activitybox1 {
      width: 1400px;
      height: 1200px;
      background-color: #171b21;
    }
    .activitybox {
      width: 1400px;
      max-height: 862px;
      background-color: #171b21;
      border-radius: 0 16px 30px 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px 30px;
      box-sizing: border-box;
      li {
        width: 650px;
        background-color: #171b21;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 260px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05) translateZ(200px) perspective(500px);
        }
        img {
          width: 650px;
          height: 210px;
          border-radius: 10px;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 5px;
          box-sizing: border-box;
          height: 45px;
          .activityleft {
            font-size: 14px;
            color: #ffffff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 420px;
            text-align: left;
          }
          .activityright {
            font-size: 12px;
            color: #858ca6;
          }
        }
      }
    }
  }
}
