@media screen and (max-width: 960px) {
  .successWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    img {
      height: 54px;
      width: 77px;
    }
  }
}

// PC
@media screen and (min-width: 960px) {
}
